p Hi,
p #{inviter} has added you as a collaborator on #{strider_server_name}/#{display_name}

p You will now see the status of #{display_name} when you login to Strider and you will receive build status notifications via email.

p Regards, 

p PaperG Continuous Deployment
